---
import { Container } from '@/components/container';

import { count as soundCount } from '@/lib/sounds';

const count = soundCount();

const paragraphs = [
  {
    body: '是否厌倦了每日的忙碌，渴望片刻宁静？是否在寻找能帮助您集中注意力或轻松入眠的理想背景音乐？不要再四处寻觅了，Moodist —— 您的免费开源环境音生成器，就是最佳选择！无需订阅，无需注册，Moodist 为您敞开一扇通往无尽舒缓与沉浸式音频体验的大门，完全免费。',
    title: '免费环境音',
  },
  {
    body: `沉浸在我们精心挑选的${count}种声音的丰富库中。自然爱好者可以在潺潺流水、海浪拍岸或篝火噼啪声中找到心灵的慰藉；城市探索者则能在咖啡馆的低语、火车的有节奏行驶声或交通的宁静白噪音中感受都市生活的脉搏。而对于追求深度专注或彻底放松的您，Moodist 特别提供了双耳同步音和色彩噪音，精心设计以优化您的心境。`,
    title: '精心挑选的声音',
  },
  {
    body: 'Moodist 的美妙之处在于其简洁和高度定制化。无需面对复杂菜单或令人困惑的选项——您只需选择心仪的声音，调整音量平衡，然后点击播放即可。想把轻柔的鸟鸣与舒缓的雨声混合在一起吗？轻松实现！您可以自由叠加多种声音，打造独一无二的个性化声音景观，享受专属您的宁静绿洲。',
    title: '创建您的声音景观',
  },
  {
    body: 'Moodist 不仅提供丰富的环境音，还配备了一系列生产力工具，助您保持高效和专注。利用内置的番茄工作法计时器来规划工作时段，在便签本中随时记录灵感，并通过待办事项列表（即将推出）管理任务。这些工具与环境音效完美融合，为您打造一个既能提升专注力又能带来放松的个性化空间。',
    title: '生产力工具箱',
  },
  {
    body: "无论您是在忙碌一天后寻求放松，希望在工作中提升专注力，还是想要平静地入眠，Moodist 都为您量身定制了理想的声音景观。更令人欣喜的是，Moodist 完全免费且开源，您可以自由享受其所有功能，没有任何附加条件。现在就开始使用 Moodist，探索属于您的宁静与专注的新世界吧！",
    title: '适用于每个时刻的声音',
  },
];
---

<section class="about">
  <div class="effect"></div>

  <Container tight>
    {
      paragraphs.map((paragraph, index) => (
        <div class="paragraph">
          <div class="counter">
            <span>0{index + 1}</span> / 0{paragraphs.length}
          </div>

          <h2 class="title">{paragraph.title}</h2>
          <p class="body">{paragraph.body}</p>
        </div>
      ))
    }

    <button class="button" id="use-moodist"> 开始使用 Moodist</button>
  </Container>
</section>

<script lang="ts">
  const button = document.getElementById('use-moodist');

  button.addEventListener('click', () => {
    const app = document.getElementById('app');

    app?.scrollIntoView();
  });
</script>

<style>
  .about {
    padding-top: 10px;

    & .effect {
      position: sticky;
      top: 0;
      height: 80px;
      background: linear-gradient(var(--color-neutral-50), transparent);
    }

    & .paragraph {
      padding: 30px 0;
      background: linear-gradient(
        transparent,
        var(--color-neutral-50) 10%,
        var(--color-neutral-50) 90%,
        transparent
      );

      &:last-of-type {
        padding-bottom: 0;
      }

      & .counter {
        width: max-content;
        padding: 6px 16px;
        margin-bottom: 16px;
        font-size: var(--font-xsm);
        color: var(--color-foreground-subtle);
        background: linear-gradient(var(--color-neutral-100), transparent);
        border: 1px solid var(--color-neutral-300);
        border-radius: 20px 20px 20px 8px;

        & span {
          font-weight: 500;
          color: var(--color-foreground);
        }
      }

      & .title {
        margin-bottom: 8px;
        font-family: var(--font-heading);
        font-size: var(--font-md);
        font-weight: 600;
      }

      & .body {
        line-height: 1.6;
        color: var(--color-foreground-subtle);
      }
    }

    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 16px;
      margin-top: 20px;
      font-size: var(--font-xsm);
      font-weight: 500;
      color: var(--color-foreground);
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--color-neutral-200);
      border-radius: 50px;
      outline: none;
      transition: 0.2s;

      &::before {
        position: absolute;
        top: -1px;
        left: 50%;
        width: 70%;
        height: 1px;
        content: '';
        background: linear-gradient(
          90deg,
          transparent,
          var(--color-neutral-300),
          transparent
        );
        transform: translateX(-50%);
      }

      &:hover,
      &:focus-visible {
        background-color: var(--color-neutral-100);
      }

      &:focus-visible {
        outline: 2px solid var(--color-neutral-400);
        outline-offset: 2px;
      }
    }
  }
</style>
